_site
.sass-cache
.jekyll-metadata
node_modules
assets
optimization-fix-this-file-is-ignored.js
yarn-error.log
.yarnclean

# editors
.idea

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Thumbs.db

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
© 2019 GitHub, Inc.